@import url("loading.css");


body{
    background-color:#fff;
    padding:0;
    margin:0;
}

#wrapper{
    min-width:100%;
    min-height:100%;
    padding:0;
    margin:0 auto;
}

header{
    display:flex;
    flex-direction:column;
    background-color: #afafff;
    padding:0;
     z-index:2;
}

header .main-logo{
    align-self:center;
    position:absolute;
    top:60px;
    z-index:3;
}

header .selection-list{
    width:100%;
}

header .selection-list ul{
    height:100%;
    list-style:none;
    display:flex;
    justify-content:space-around;
    padding:0;
}

header .selection-list ul li{
    background-color:#afafff;
    display:block;
    align-self:center;
    text-align:center;
    height:100%;  
    width:12.5%;
    transition:1s;
}

header .selection-list ul li:hover{
    background-color:#fff;
    color:#00f;
}

header .selection-list ul li a{
    text-decoration:none;
}

header .selection-list ul li.current-page{
    color:#f7f338;
    border-bottom:3px solid #fff;
    text-shadow:#fff 1px 1px 1px;
}


main{
    min-height:1000px;
}

main div.slide-imagesShow{
    background-color:#000;
    width:100%;
    height:600px;
}

main div.slide-imagesShow img{
    position:absolute;
    width:100%;
    height:100%;
    top:50px;
    left:0;
    z-index:0;
}

div#main-image img{
    width:100%;
}

main article#main-article{
    position: relative;
    top:-50px;

     background-color:rgba(135, 207, 235, 0.5);
    width:80%;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:0 auto;

    padding:15px;
}

main article section.info-content{
    text-align:center;
    background-color:rgba(255,255,255,0.5);
    width:70%;
    display:block;
    border:2.5px solid #fff;
    margin-bottom:30px;
}

main article section.info-content h1{
    text-align:center;
    font-size:32px;
    color:#77f;
}

main article section.info-content .info-block p:nth-child(1){
    font-size:18px;
    font-weight:bold;
    text-decoration:underline;
}

main article section.info-content .info-block p:nth-child(2){
    font-size:16px;
    color:#000;
}

main article section.info-content .info-block p:nth-child(2):hover{
    color:#e2bb1e;
}

div.info-block .images-group{
    padding:30px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
}

div.info-block .images-group .dis-image{
    width:300px;
    height:300px;
    margin:10px 15px;
    border:10px double #fff;
    border-radius:10px;
    overflow:hidden;
}

div.info-block .images-group .dis-image img{
    width:100%;
    height:100%;
}

.dis-image div.block-cover{
    background-color:#000;
    opacity:0%;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.dis-image div.block-cover:hover{
    opacity:50%;
}

/*footer*/

footer{
    width:100%;
    min-height:300px;
    display:flex;
    align-items:center;
    position:abosulte;
    bottom:0;
    background-color: #afafff;
}

footer div#footer-logo{
    width:25%;
    margin-left:50px;
    align-self:center;
}

footer div#footer-main{
    width:75%;
    margin:0;
    display:flex;
    flex-direction:column;
    align-content:space-between;
    text-align:center;
}   

footer div.footer-selection-list{
    height:70%;
}

footer div.footer-selection-list ul{
    list-style:none;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

footer div.footer-selection-list ul li a{
    text-decoration:none;
}

footer div.footer-selection-list ul li a:hover{
    color:#aaa;
}

footer div.link-list{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

div.link-list img{
    width:100px;
    height:50px;
}

footer div.footer-small{
    height:30%;
   
}


/*newsPage*/

div#main-new-image img{
    width:100%;

}

div.news-info-block-group{
    margin:15px;
}

div.news-info-block{
    border-bottom:1px solid rgba(85, 85, 85, 0.5);
    margin:15px 5px;
    text-align:center;
}

div.news-info-block p:nth-child(1){
    font-size:20px;
    font-weight:bold;
}

div.news-info-block p:nth-child(2){
    color:#666;
}


/*livePage*/
article#main-article div.live-info-block{
    border-bottom:1px solid #555;
    margin-bottom:10px;
    padding:0 30px;
}

article#main-article div.live-info-block p:nth-child(1){
    font-size:20px;
    font-weight:bold;
    color:#777;
}

article#main-article div.live-info-block p:nth-child(2){

}

article#main-article div.live-info-block p:nth-child(3){

}

div.numbers-list{
    display:flex;
    justify-content:center;
    margin-top:30px;
    margin-bottom:15px;
}

.number-circle{
    text-align:center;
    background-color:#aaf;
    font-size:12px;
    width:20px;
    height:20px;
    border-radius:15px;
    margin-left:10px;

    transition:0.5s;
}

.number-circle:hover{
    background-color:#55f;
    color:#fff;
}

/*discographyPage*/

article#main-article section.info-content-discography{
    background-color:rgba(230,230,230,0.5);
    padding:30px;
}

article#main-article section.info-content-discography h1{
    text-align:center;
    font-size:32px;
    color:#aaf;
}

table.image-table{
    margin:30px auto;
    border-width:3px;
    border-collapse:separate;
    border-spacing:30px;
    border-style:double;
}

table.image-table img{
    width:250px;
    height:250px;
}




/*moviePage*/

section.movie-info-content{
    width:90%;
    background-color:rgba(255,255,255,0.5);
}

section.movie-info-content h1{
     text-align:center;
    font-size:32px;
    color:#77f;
}

section.movie-info-content .movie-info-group{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
}

section.movie-info-content .movie-info-block{
     width:448px;
    height:255px;
    margin:10px;
    border-color:#752;
    border-style:ridge;
    border-width:15px;
}

section.movie-info-content iframe{
    width:100%;
    height:100%;
}

/*specialize*/
div.specialize-info-block img{
    margin-top:20px;
    margin-bottom:20px;
}


/*profile*/

section.info-content div.profile-info-block p{
    color:rgb(38, 38, 77);
    text-indent:2em;
    line-height:2em;
}

.img-left{
    float:left;
    margin:0 10px 10px 5px;
}

.img-right{
    float:right;
     margin:10px 10px 10px 15px;
}

/*contact*/

